<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.qianbailu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

 
    <application
        android:name="com.open.qianbailu.application.QianBaiLuApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
       <!-- 主tab页面 -->
        <activity
            android:name="com.open.qianbailu.activity.m.MainTabActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
             android:description="@string/qianbailu_m_tab_desp" 
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!--动态主tab页面 -->
        <activity
            android:name="com.open.qianbailu.activity.m.DynamicMainTabActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
             android:description="@string/qianbailu_m_tab_d_desp" 
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!--  fragment主页面 -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMMainFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_m_main_desp" 
			>
        </activity>
        <!-- m主页面 -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMIndicatorActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_m_indicator_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
        
        <!-- m fragment电影 -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_m_indicator_f_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
         <!-- m fragment图库 -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMBIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_m_b_indicator_f_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
        <!-- m fragment小说 -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMSIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_m_s_indicator_f_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
      <!--   webview-->
        <activity
            android:name="com.open.qianbailu.activity.QianBaiLuWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_webview_desp"  
			>
        </activity>
        
         <!-- m 看图list -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMShowListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_m_show_image_list_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
        
        <!-- m 小说 -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMXiaoShuoFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_m_xiao_shuo_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
        
        <!-- m 电影详细 -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMMoveDetailFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_m_movie_detail_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
        
         <!-- m 图片viewpager -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuShowPagerAdapterActivity"
            android:description="@string/qianbailu_m_show_viewpager_desp" 
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize" 
            android:screenOrientation="sensor"
			>
        </activity>
        
          <!-- m 图片fragment viewpager -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuShowPagerAdapterFragmentActivity"
            android:description="@string/qianbailu_m_show_viewpager_f_desp" 
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize" 
            android:screenOrientation="sensor"
			>
        </activity>
        
          <!-- m 搜索 -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMSearchActivity"
            android:description="@string/qianbailu_m_search_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
         <!-- m 搜索结果 -->
        <activity
            android:name="com.open.qianbailu.activity.m.QianBaiLuMSearchResultActivity"
            android:description="@string/qianbailu_m_search_result_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
        
        <!-- pc主tab页面 -->
        <activity
            android:name="com.open.qianbailu.activity.PCMainTabActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
             android:description="@string/qianbailu_m_tab_pc_desp" 
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
        <!-- 所有类列表 -->
        <activity
            android:name="com.open.qianbailu.activity.QianBaiLuALLActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/qianbailu_all_desp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>